/* General rules */

body {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;  
}

a:link {
  text-decoration: none;
}

ul {  
  list-style-type: none;
}

.top {
  padding-top: 1em;  
}

/* Header */

#header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100vw;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  max-width: 4em;
  padding-top: 0.4em;
}

#logo-img {
  max-width: 2.1em;
  max-height: 2.1em;
  border-radius: 50%;
}

.nav-items {
  display: flex;
  flex-grow: 2;
  justify-content: center;
}


.nav-checkbox {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
  flex-grow: 1;
  max-width: 4em;
}

.nav-checkbox > label {
  margin-bottom: 0px;
}

.nav-pills > li {
  display: inline;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  padding-right: 0.5em;
  border-right: 1px solid black;
}

.nav-pills > li:last-child {
  border-right: none;
}

#music-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
}

.nav-checkbox > p {
  padding: 0px;
  margin: 0px;
  font-size: 0.9em;
  color: gray;
}

/* Article */

.hero-wrapper .flexbox {
  display: flex;
  flex-direction: column;
}

.hero-wrapper .col {
  padding: 0px;
}

#intro-phrase {
  text-align: center;
}
